* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: rgb(240, 241, 241) !important;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 56, 68, 1) 100%);
    position: relative !important;
}

.profile-photo {
    margin: 20px 0 5px 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.intro {
    height: 270px;
    text-align: center;
    z-index: 1;
    margin-top: 30px;
}

.intro p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(255, 254, 254);
    margin-left: 40px !important;
    margin-right: 95px !important;
}

hr {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
    width: 100%;
}

section[class*="section-"] {
    margin-left: 40px;
    margin-right: 80px !important;
}

section[class*="section-"]>.title {
    margin-bottom: 20px;
}

section[class*="section-"] .group,
#aboutMe p {
    margin-left: 20px;
}

section[class*="section-"] .timeline {
    margin-left: 20px;
}

section[class*="section-"] p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(168, 168, 168);
    text-align: justify;
    width: 90%;
}

section[class*="section-"] i {
    color: rgb(167, 255, 255) !important;
}

/*----------------------------*/
/*----------------------------*/

#myScrollspy {
    position: fixed;
    right: 20px;
    margin-top: 250px;
    width: auto;
    z-index: 1;
}

.list-group{
    border-left: 1px solid hsl(0, 100%, 100%);
    margin-left: 30px;
    list-style: none;
}

.list-group [class*="list-group-item"] {
    margin-left: -33px;
    border-radius: 50%;
}

.list-group svg {
    width: 30px;
    height: 30px;
}

/*----------------------------*/
/*----------------------------*/

.timeline p {
    color: rgb(168, 168, 168) !important;
    font-size: 1rem !important;
    margin-right: 0 !important;
}

.timeline {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: hsl(0, 0%, 90%);
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}

.section-skills .subgroup {
    margin-bottom: 20px;
}

.section-skills .subgroup .progress {
    max-width: 300px;
    margin-right: 20px;
}