* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(240, 241, 241) !important;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 56, 68, 1) 100%);
    position: relative !important;
}

.container_main {
    display: grid;
    grid-template-columns: calc(100% - 70px) 70px;
    grid-template-rows: 350px calc(100% - 350px - 200px) 200px;
    grid-template-areas: "h a" "m a" "f f";
}

header {
    grid-area: h;
}

main {
    grid-area: m;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 18px;
    margin-bottom: 8px;
}

.intro {
    text-align: center;
    z-index: 1;
}

.intro p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(255, 254, 254);
    margin-left: 20px !important;
}

hr {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    width: 100%;
}

section[class*="section-"] {
    margin-left: 40px;
}

section[class*="section-"]>.title {
    margin-bottom: 20px;
}

section[class*="section-"] .group,
#aboutMe p {
    margin-left: 20px;
}

@media screen and (min-width: 1000px){
    .section-skills .subgroup {
        width: 50%;
    }
}

section[class*="section-"] .timeline {
    margin-left: 20px;
}

section[class*="section-"] p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(161, 161, 161) !important;
    text-align: justify;
    width: 90%;
}

section[class*="section-"] i {
    color: rgb(167, 255, 255) !important;
}

aside {
    grid-area: a;
}

#navBar {
    position: fixed;
    right: 8px;
    margin-top: 10%;
    width: auto;
    z-index: 1;
    height: 100%;
}

#navBar .list-group {
    border-left: 2px solid hsl(0, 100%, 100%);
    margin-left: 30px;
    list-style: none;
}

#navBar a {
    margin-left: -30px;
    border-radius: 50%;
}

#navBar svg {
    width: 22px;
    height: 32px;
}

#projetosContainer {
    display: inline-block;
}

#projetosContainer [class*="projectCard"] { 
    display: inline-table;
    border-color: aliceblue;
    margin: 5px;
    height: 190px;
    position: relative;
}

[class*="projectCard"] .card-title {
    margin-top: 0 !important;
    text-align: center;
}

[class*="projectCard"] a {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

[class*="projectCard"] .card-text {
    text-align: center;
    margin: 5px 0 5px 5px;
}